body {
  background-color: #fff7e2; /* jo color tu bol raha tha */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing:border-box ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  background-color: #fff7e2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}